<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xumengqi.reme.as.mapper.ConfessionExtMapper">
    <resultMap id="BaseResultMap" type="com.xumengqi.reme.as.vo.ConfessionVO">
        <id column="confession_id" jdbcType="BIGINT" property="confessionId"/>
        <result column="confession_title" jdbcType="VARCHAR" property="confessionTitle"/>
        <result column="confession_detail" jdbcType="VARCHAR" property="confessionDetail"/>
        <result column="is_anonymous" jdbcType="INTEGER" property="isAnonymous"/>
        <result column="confession_tag_id" jdbcType="BIGINT" property="confessionTagId"/>
        <result column="confession_location" jdbcType="VARCHAR" property="confessionLocation"/>
        <result column="is_solved" jdbcType="INTEGER" property="isSolved"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="avatar_attach_id" jdbcType="BIGINT" property="avatarAttachId"/>
        <result column="confession_tag_name" jdbcType="VARCHAR" property="confessionTagName"/>
    </resultMap>

    <select id="selectBySchoolId" resultMap="BaseResultMap">
        select cc.*, ct.confession_tag_name from (
        SELECT con.*, u.user_name, u.avatar_attach_id FROM confession con, user u where con.user_id = u.user_id
        <if test="schoolId != null">
            and u.school_id = #{schoolId}
        </if>
        <if test="isSolved != null">
            and con.is_solved = #{isSolved}
        </if>
        <if test="confessionTagIdSet != null and confessionTagIdSet.size > 0">
            and con.confession_tag_id in
            <foreach collection="confessionTagIdSet" item="confessionTagId" open="(" separator="," close=")">
                #{confessionTagId}
            </foreach>
        </if>
        ) cc, confession_tag ct where cc.confession_tag_id = ct.confession_tag_id
    </select>
    <select id="selectByUserId" resultType="com.xumengqi.reme.dao.entity.Confession">
        SELECT con.* FROM confession con where con.user_id = #{userId}
        <if test="isSolved != null">
            and con.is_solved = #{isSolved}
        </if>
        <if test="confessionTagIdSet != null and confessionTagIdSet.size > 0">
            and con.confession_tag_id in
            <foreach collection="confessionTagIdSet" item="confessionTagId" open="(" separator="," close=")">
                #{confessionTagId}
            </foreach>
        </if>
    </select>
</mapper>