<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xumengqi.reme.dao.mapper.ConfessionTagMapper">
  <resultMap id="BaseResultMap" type="com.xumengqi.reme.dao.entity.ConfessionTag">
    <id column="confession_tag_id" jdbcType="BIGINT" property="confessionTagId" />
    <result column="confession_tag_name" jdbcType="VARCHAR" property="confessionTagName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    confession_tag_id, confession_tag_name
  </sql>
  <select id="selectByExample" parameterType="com.xumengqi.reme.dao.entity.ConfessionTagExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from confession_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from confession_tag
    where confession_tag_id = #{confessionTagId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from confession_tag
    where confession_tag_id = #{confessionTagId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xumengqi.reme.dao.entity.ConfessionTagExample">
    delete from confession_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xumengqi.reme.dao.entity.ConfessionTag">
    <selectKey keyProperty="confessionTagId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into confession_tag (confession_tag_name)
    values (#{confessionTagName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xumengqi.reme.dao.entity.ConfessionTag">
    <selectKey keyProperty="confessionTagId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into confession_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="confessionTagName != null">
        confession_tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="confessionTagName != null">
        #{confessionTagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xumengqi.reme.dao.entity.ConfessionTagExample" resultType="java.lang.Long">
    select count(*) from confession_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update confession_tag
    <set>
      <if test="record.confessionTagId != null">
        confession_tag_id = #{record.confessionTagId,jdbcType=BIGINT},
      </if>
      <if test="record.confessionTagName != null">
        confession_tag_name = #{record.confessionTagName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update confession_tag
    set confession_tag_id = #{record.confessionTagId,jdbcType=BIGINT},
      confession_tag_name = #{record.confessionTagName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xumengqi.reme.dao.entity.ConfessionTag">
    update confession_tag
    <set>
      <if test="confessionTagName != null">
        confession_tag_name = #{confessionTagName,jdbcType=VARCHAR},
      </if>
    </set>
    where confession_tag_id = #{confessionTagId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xumengqi.reme.dao.entity.ConfessionTag">
    update confession_tag
    set confession_tag_name = #{confessionTagName,jdbcType=VARCHAR}
    where confession_tag_id = #{confessionTagId,jdbcType=BIGINT}
  </update>
</mapper>