<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xumengqi.reme.dao.mapper.SchoolMapMapper">
  <resultMap id="BaseResultMap" type="com.xumengqi.reme.dao.entity.SchoolMap">
    <id column="school_map_id" jdbcType="BIGINT" property="schoolMapId" />
    <result column="map" jdbcType="BIGINT" property="map" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    school_map_id, map
  </sql>
  <select id="selectByExample" parameterType="com.xumengqi.reme.dao.entity.SchoolMapExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from school_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from school_map
    where school_map_id = #{schoolMapId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from school_map
    where school_map_id = #{schoolMapId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xumengqi.reme.dao.entity.SchoolMapExample">
    delete from school_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xumengqi.reme.dao.entity.SchoolMap">
    <selectKey keyProperty="schoolMapId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into school_map (map)
    values (#{map,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xumengqi.reme.dao.entity.SchoolMap">
    <selectKey keyProperty="schoolMapId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into school_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="map != null">
        map,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="map != null">
        #{map,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xumengqi.reme.dao.entity.SchoolMapExample" resultType="java.lang.Long">
    select count(*) from school_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update school_map
    <set>
      <if test="record.schoolMapId != null">
        school_map_id = #{record.schoolMapId,jdbcType=BIGINT},
      </if>
      <if test="record.map != null">
        map = #{record.map,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update school_map
    set school_map_id = #{record.schoolMapId,jdbcType=BIGINT},
      map = #{record.map,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xumengqi.reme.dao.entity.SchoolMap">
    update school_map
    <set>
      <if test="map != null">
        map = #{map,jdbcType=BIGINT},
      </if>
    </set>
    where school_map_id = #{schoolMapId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xumengqi.reme.dao.entity.SchoolMap">
    update school_map
    set map = #{map,jdbcType=BIGINT}
    where school_map_id = #{schoolMapId,jdbcType=BIGINT}
  </update>
</mapper>